{{ if .Site.Params.contact.enable }}
{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.contact.topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .Site.Params.contact.title }}
                    <h2>{{.}}</h2>
                    <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Params.contact.subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            {{ "<!-- Contact Details -->" | safeHTML }}
            <div class="col-12 col-md-6">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d282.1778759851886!2d114.15401988629893!3d22.284778100950653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3404007c94ea1539%3A0xec6f8ae1d83a378c!2sInternational+House%2C+14-16+Gilman&#39;s+Bazaar%2C+Central!5e0!3m2!1sen!2shk!4v1557113417839!5m2!1sen!2shk" width="500" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            {{ "<!-- Contact Form -->" | safeHTML }}
            <div class="contact-form col-12 col-md-6 ">
                <form name="contact" id="netlify-contact-form" action="/success" data-netlify="true">
                    <div class="form-group">
                        <input type="text" placeholder="{{ i18n "yourName" }}" class="form-control" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="{{ i18n "yourEmail" }}" class="form-control" name="email" id="email">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="{{ i18n "yourPhoneNumber" }}" class="form-control" name="phone-number" id="phone-number">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="{{ i18n "subject" }}" class="form-control" name="subject" id="subject">
                    </div>
                    <div class="form-group">
                        <textarea rows="6" placeholder="{{ i18n "message" }}" class="form-control" name="message" id="message"></textarea>
                    </div>
                    <div id="cf-submit">
                        <input form="netlify-contact-form" type="submit" id="contact-submit" class="btn btn-transparent" value="{{ i18n "submit" }}">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="address-block contact-meta-block">
                    <i class="tf-ion-android-pin"></i>
                    <h4>{{ i18n "ourLocation" }}</h4>
                    {{ with .Site.Params.contact.address }}<p>{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="phone-block contact-meta-block">
                    <i class="tf-ion-ios-telephone"></i>
                    <h4>{{ i18n "callUs" }}</h4>
                    <p>
                         {{ with .Site.Params.contact.phone }}{{ i18n "office" }}: {{.}} {{ end }}
                        <br> {{ with .Site.Params.contact.fax }} Fax: {{ . }} {{ end }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
