{{ if .Site.Params.menufixed }}
    <section class="header navigation top-bar animated-header">
{{ else }}
    <section class="header navigation">
{{ end }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                        <img class="navbar-logo" src="{{ with .Site.Params.logo }}{{ . | absURL }}{{ end }}" alt="logo">
                    </a>
                    <div class="navbar-language-link-wrapper">
                        {{ if .IsTranslated }}
                          {{ range .Translations }}
                            {{ if ne . $.Site.Language }}
                              <a href="{{ .Permalink }}" class="navbar-language-link">
                                {{ .Language.LanguageName }}
                              </a>
                            {{ end }}
                          {{ end }}
                        {{ else }}
                          {{ range .Site.Languages }}
                            {{ if ne . $.Site.Language }}
                              <a href="{{ .Lang | absURL }}" class="navbar-language-link">
                                {{ .LanguageName }}
                              </a>
                            {{ end }}
                          {{ end }}
                        {{ end }}
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="tf-ion-android-menu navbar-menu-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            {{ range .Site.Menus.nav }}
                                {{ if eq .Identifier "login" }}
                                    <li class="nav-item navbar-login-button">
                                        <a class="nav-link" href="{{ .URL | absLangURL }}">{{ i18n .Name }}</a>
                                    </li>
                                {{ else }}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ .URL | absLangURL }}">{{ i18n .Name }}</a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
